
<section class="mt-5">
    <div class="container">
        <div class="img-main-banner">
            <div
                style="background: url(assets/background.png)no-repeat; background-size: 650px; border-radius: .5rem; background-position: right; height: 400px;">
                <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center bg-image">
                    <span class=" badges">Opening Sale Discount 50%</span>
                    <h2 class="text-dark display-5 fw-bold mt-4">SuperMarket Daily <br> Fresh Grocery </h2>
                    <p class="lead">Introduced a new model for online grocery shopping and convenient home delivery.
                    </p>
                    <a href="#!" class="btn btn-dark mt-3">Shop Now <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
   <!-- sales section start  -->
   
    <section>
      
        <div class="container mt-5 salessection">
          <h3 class="mb-4 nav-name">Avalable Packages</h3>
          
            <div class="row">
              
                <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                    <div>
                        <div class="py-10 px-8 rounded-3"
                            style="background:url(assets/healthy.jpg)no-repeat; background-size: cover; background-position: center; padding: 20px;">
                            <div>
                                <h3 class="fw-bold mb-1">Small package
                                </h3>
                                <p class="mb-4">Get Upto <span class="fw-bold">30%</span> Off</p>
                                <a href="#!" class="btn btn-dark">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 ">
                    <div>
                        <div class="py-10 px-8 rounded-3"
                            style="background:url(assets/grocerypack1.jpg)no-repeat; background-size: cover; background-position: center; padding: 20px;">
                            <div>
                                <h3 class="fw-bold mb-1">Large Package
                                </h3>
                                <p class="mb-4">Get Upto <span class="fw-bold">25%</span> Off</p>
                                <a href="#!" class="btn btn-dark">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- sales section end  -->
    <!-- products section start  -->
    <section class="my-lg-14 my-8">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-6">
                    <h3 class="mb-4 nav-name">Popular Products</h3>
                </div>
            </div>
            <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative ">
                                <div class=" position-absolute top-0 start-0">
                                    <span class="badge bg-danger">Sale</span>
                                </div>
                                <a href="#!"> <img src="assets/cheesebutton.png" alt="Grocery Ecommerce "
                                        class="mb-3 img-fluid"></a>
                                <div class="card-product-action">
                                    <a href="#!" class="btn-action" data-bs-toggle="modal"
                                        data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip"
                                            data-bs-html="true" title="Quick View"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                </div>
                            </div>
                            <div class="text-small mb-1"><a href="#!"
                                    class="text-decoration-none text-muted"><small>Snack &
                                        Munchies</small></a></div>
                            <h2 class="fs-6"><a href="#!" class="text-inherit text-dark  text-decoration-none">Chees Button
                                    </a></h2>
                            <div>
                                <small class="text-warning"> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i></small> <span
                                    class="text-muted small">400g</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">Rs.590</span> <span
                                        class="text-decoration-line-through text-muted">Rs.550</span>
                                </div>
                                <div><a href="#!" class="btn btn-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg> Add</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative">
                                <div class=" position-absolute top-0 start-0">
                                    <span class="badge bg-success">14%</span>
                                </div>
                                <a href="#!"><img src="assets/chicken.png" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                                <div class="card-product-action">
                                    <a href="#!" class="btn-action" data-bs-toggle="modal"
                                        data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip"
                                            data-bs-html="true" title="Quick View"></i></a>
                                    <a href="#" class="btn-action" data-bs-toggle="tooltip"
                                        data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                </div>
                            </div>
                            <div class="text-small mb-1"><a href="#!"
                                    class="text-decoration-none text-muted"><small>Frozen
                                        </small></a></div>
                            <h2 class="fs-6"><a href="#!" class="text-inherit text-dark text-decoration-none">Crysbro Chicken </a></h2>
                            <div class="text-warning">
                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i></small> <span class="text-muted small">1kg</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">Rs.1450</span>
                                </div>
                                <div><a href="#!" class="btn btn-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg> Add</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a href="#!"><img
                                        src="assets/wijaya.png" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                                <div class="card-product-action">
                                    <a href="#!" class="btn-action" data-bs-toggle="modal"
                                        data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip"
                                            data-bs-html="true" title="Quick View"></i></a>
                                    <a href="#" class="btn-action" data-bs-toggle="tooltip"
                                        data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                </div>
                            </div>
                            <div class="text-small mb-1"><a href="#!"
                                    class="text-decoration-none text-muted"><small>flovers</small></a></div>
                            <h2 class="fs-6"><a href="#!" class="text-inherit text-dark text-decoration-none">wijaya Jaffna Curry Powder</a></h2>
                            <div class="text-warning">
                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i></small> <span class="text-muted small">250g
                            </span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">Rs.180</span> <span
                                        class="text-decoration-line-through text-muted">Rs.150</span>
                                </div>
                                <div><a href="#!" class="btn btn-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg> Add</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a href="#!"><img
                                        src="assets/jam.png" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                                <div class="card-product-action">
                                    <a href="#!" class="btn-action" data-bs-toggle="modal"
                                        data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip"
                                            data-bs-html="true" title="Quick View"></i></a>
                                    <a href="#" class="btn-action" data-bs-toggle="tooltip"
                                        data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                </div>
                                <div class=" position-absolute top-0 start-0">
                                    <span class="badge bg-danger">New</span>
                                </div>
                            </div>
                            <div class="text-small mb-1"><a href="#!"
                                    class="text-decoration-none text-muted"><small>Jam
                                    </small></a></div>
                            <h2 class="fs-6"><a href="#!" class="text-inherit text-dark text-decoration-none">Rasp Berry MD Jam</a></h2>
                            <div class="text-warning">
                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                    <i class="bi bi-star"></i></small> <span class="text-muted small">400g</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">Rs.700</span> <span
                                        class="text-decoration-line-through text-muted">Rs.680</span>
                                </div>
                                <div><a href="#!" class="btn btn-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg> Add</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a href="#!"><img
                                        src="assets/raththi.png" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                                <div class="card-product-action">
                                    <a href="#!" class="btn-action" data-bs-toggle="modal"
                                        data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip"
                                            data-bs-html="true" title="Quick View"></i></a>
                                    <a href="#" class="btn-action" data-bs-toggle="tooltip"
                                        data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                </div>
                            </div>
                            <div class="text-small mb-1"><a href="#!"
                                    class="text-decoration-none text-muted"><small> Dairy Product
                                    </small></a></div>
                            <h2 class="fs-6"><a href="#!" class="text-inherit text-dark text-decoration-none">Raththi Milk Powder
                                     </a></h2>
                            <div class="text-warning">
                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i></small> <span class="text-muted small">400g
                                    </span>
                            </div>
                            <div class="d-flex justify-content-between mt-4">
                                <div><span class="text-dark">Rs.980</span> <span
                                        class="text-decoration-line-through text-muted">Rs.950</span>
                                </div>
                                <div><a href="#!" class="btn btn-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg> Add</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative ">
                                <div class=" position-absolute top-0 start-0">
                                    <span class="badge bg-danger">Sale</span>
                                </div>
                                <a href="#!"> <img src="assets/maggie.png" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                                <div class="card-product-action">
                                    <a href="#!" class="btn-action" data-bs-toggle="modal"
                                        data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip"
                                            data-bs-html="true" title="Quick View"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                </div>
                            </div>
                            <div class="text-small mb-1"><a href="#!"
                                    class="text-decoration-none text-muted"><small>Confectionery
                                        </small></a></div>
                            <h2 class="fs-6"><a href="#!" class="text-inherit text-dark text-decoration-none">maggie Noodles</a></h2>
                            <div>
                                <small class="text-warning"> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.5
                                    (189)</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">Rs.150</span> <span
                                        class="text-decoration-line-through text-muted">Rs.130</span>
                                </div>
                                <div><a href="#!" class="btn btn-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg> Add</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a href="#!"><img
                                        src="assets/oil.png" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                                <div class="card-product-action">
                                    <a href="#!" class="btn-action" data-bs-toggle="modal"
                                        data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip"
                                            data-bs-html="true" title="Quick View"></i></a>
                                    <a href="#" class="btn-action" data-bs-toggle="tooltip"
                                        data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                </div>
                            </div>
                            <div class="text-small mb-1"><a href="#!"
                                    class="text-decoration-none text-muted"><small>Oil
                                        </small></a></div>
                            <h2 class="fs-6"><a href="#!" class="text-inherit text-dark text-decoration-none">Coconut Oil
                                    </a></h2>
                            <div class="text-warning">
                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i></small> <span class="text-muted small">1L
                                    </span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">Rs.1300</span>
                                </div>
                                <div><a href="#!" class="btn btn-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg> Add</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a href="#!"><img
                                        src="assets/pads2.png" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                                <div class="card-product-action">
                                    <a href="#!" class="btn-action" data-bs-toggle="modal"
                                        data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip"
                                            data-bs-html="true" title="Quick View"></i></a>
                                    <a href="#" class="btn-action" data-bs-toggle="tooltip"
                                        data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                </div>
                            </div>
                            <div class="text-small mb-1"><a href="#!"
                                    class="text-decoration-none text-muted"><small>Sanitary Items
                                        </small></a></div>
                            <h2 class="fs-6"><a href="#!" class="text-inherit text-dark text-decoration-none">Fems</a>
                            </h2>
                            <div class="text-warning">
                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i></small> <span class="text-muted small">12 psc pack</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">Rs.650</span> <span
                                        class="text-decoration-line-through text-muted">Rs.630</span>
                                </div>
                                <div><a href="#!" class="btn btn-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg> Add</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a href="#!"><img
                                        src="assets/rice.png" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                                <div class="card-product-action">
                                    <a href="#!" class="btn-action" data-bs-toggle="modal"
                                        data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip"
                                            data-bs-html="true" title="Quick View"></i></a>
                                    <a href="#" class="btn-action" data-bs-toggle="tooltip"
                                        data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                </div>
                            </div>
                            <div class="text-small mb-1"><a href="#!"
                                    class="text-decoration-none text-muted"><small>Groceries
                                        </small></a></div>
                            <h2 class="fs-6"><a href="#!" class="text-inherit text-dark text-decoration-none"> Araliya Rice "Keeri Samba"
                                    </a></h2>
                            <div class="text-warning">
                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i></small> <span class="text-muted small">5kg
                                    </span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">Rs.1360</span> <span
                                        class="text-decoration-line-through text-muted">Rs.1350</span>
                                </div>
                                <div><a href="#!" class="btn btn-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg> Add</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a href="#!"><img
                                        src="assets/souse.png" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                                <div class="card-product-action">
                                    <a href="#!" class="btn-action" data-bs-toggle="modal"
                                        data-bs-target="#quickViewModal"><i class="bi bi-eye" data-bs-toggle="tooltip"
                                            data-bs-html="true" title="Quick View"></i></a>
                                    <a href="#" class="btn-action" data-bs-toggle="tooltip"
                                        data-bs-html="true" title="Wishlist"><i class="bi bi-heart"></i></a>
                                    <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                        title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                </div>
                            </div>
                            <div class="text-small mb-1"><a href="#!"
                                    class="text-decoration-none text-muted"><small> Souse
                                        </small></a></div>
                            <h2 class="fs-6"><a href="#!" class="text-inherit text-dark text-decoration-none"> Edinbarrow Tomato souse
                                    </a></h2>
                            <div class="text-warning">
                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                    <i class="bi bi-star"></i></small> <span class="text-muted small">500 ml</span>
                            </div> 
                            <div class="d-flex justify-content-between mt-4">
                                <div><span class="text-dark">Rs.450</span> <span
                                        class="text-decoration-line-through text-muted">Rs.480</span>
                                </div>
                                <div><a href="#!" class="btn btn-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg> Add</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      <!-- products section end  -->
<!-- services section start  -->
      <section class="my-lg-14 my-8">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="mb-8 mb-xl-0">
                        <div class="mb-6"><img src="assets/img/svg icons/clock.svg" alt=""></div>
                        <h3 class="h5 mb-3 mt-3">
                            10 minute grocery now
                        </h3>
                        <p>Get your order delivered to your doorstep at the earliest from FreshCart pickup stores near
                            you.</p>
                    </div>
                </div>
                <div class="col-md-6  col-lg-3">
                    <div class="mb-8 mb-xl-0">
                        <div class="mb-6"><img src="assets/img/svg icons/gift.svg" alt=""></div>
                        <h3 class="h5 mb-3 mt-3">Best Prices & Offers</h3>
                        <p>Cheaper prices than your local supermarket, great cashback offers to top it off. Get best
                            pricess & offers.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="mb-8 mb-xl-0">
                        <div class="mb-6"><img src="assets/img/svg icons/package.svg" alt=""></div>
                        <h3 class="h5 mb-3 mt-3">Wide Assortment</h3>
                        <p>Choose from 5000+ products categories.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="mb-8 mb-xl-0">
                        <div class="mb-6"><img src="assets/img/svg icons/refresh-cw.svg" alt=""></div>
                        <h3 class="h5 mb-3 mt-3">Easy Returns</h3>
                        <p>Not satisfied with a product? Return it at the doorstep & get a refund within hours. No
                            questions asked
                            <a href="#" class="text-inherit text-dark  text-decoration-none fw-bold" style="color:rgb(243, 13, 13) !important ;">policy</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services section end  -->
   