
<nav class="navbar navbar-expand-lg navbar-gradient bg-gradient">
    <div class="container">
      <a class="navbar-brand" href="https://therichpost.com/"><h2 class="nav-name">SalkiSuper</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
              <li class="nav-item dropdown">
                <!-- <label for="home">Home</label> -->
                <li class="nav-item ">
                  <a routerLink="home">Home</a>
                     
                  
              </li>
                
              
          
          <li class="nav-item dropdown">

            <div class="dropdown">
                <button>Product</button>
                <div class="dropdown-content">
                <a routerLink="product1">Product 1</a>
                <a href="">Product 2</a>
                <a href="">Product 3</a>
                </div>
              </div>

              
          </li>

          <li class="nav-item ">
            <a routerLink="Contact">Contact</a>
               
            
        </li>
          
          <li class="nav-item ">
            <a routerLink="cart">Cart</a>
             
          </li>
         
        </ul>

        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn-search-icon rounded-circle"><i class="bi bi-search-heart"></i></button>
        </form>

        <div class="login ">
            <a routerLink="login"><i class="bi bi-ubuntu"></i>login</a> 
        </div>
        
      </div>
    </div>
  </nav>
